*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.keystore
*.jks
/app/release/
keystore.properties

# Desktop (Windows) build
/desktop/.gradle/
/desktop/build/
/desktop/.kotlin/
/desktop/resources/windows/vlc/
/.kotlin/
